{% extends "base.html" %}
{% block title %} Éditer une personne {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Éditer un mail
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.nom.label }}<br>
						{{ form.nom(size=32) }}<br>
						{% for error in form.nom.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-secondary" href="{{ url_for('mail_afficher') }}">Annuler</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}
