{% extends "base.html" %}
{% block title %} Aficé jãr {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
                Jãr
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Nõ
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_genre }}
						</td>
						<td class="align-middle">
							{{ row.nom_genr }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('genre_ajouter') }}" role="button">Ajöté</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('genre_update', id_genre=row.id_genre) }}" role="button">Édité</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('genre_delete', id_genre=row.id_genre) }}" role="button">Suprimé</a>
						</td>
                        <tr>
                            <td class="align-middle" colspan="5">
                                <a class="btn btn-warning" href="{{ url_for('pers_avoir_mail_update', id_mail=row.id_mail) }}" role="button">Modifyé</a>
                            </td>
                        </tr>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Okũ jãr.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genre_ajouter') }}" role="button">Ajöté</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

