{% extends "base.html" %}
{% block title %} Éditer une personne {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Éditer une personne
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.nom_personne.label }}<br>
						{{ form.nom_personne(size=32) }}<br>
						{% for error in form.nom_personne.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
                    <!--
						{ form.date_genre_wtf_essai.label }}<br>
						{ form.date_genre_wtf_essai(size=32) }}<br>
						% for error in form.date_genre_wtf_essai.errors %}
							<span style="color: red;">[{ error }}]</span>
						% endfor %}
                    -->
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-secondary" href="{{ url_for('personnes_afficher') }}">Annuler</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}

