{% extends "base.html" %}
{% block title %} Aficé mo {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
                Mo
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Mo
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_graphie }}
						</td>
						<td class="align-middle">
							{{ row.graphie_grap }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('graphie_ajouter') }}" role="button">Ajöté</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('graphie_update', id_graphie=row.id_graphie) }}" role="button">Édité</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('mail_delete', id_mail=row.id_mail) }}" role="button">Suprimé</a>
						</td>
                        <tr>
                            <td class="align-middle" colspan="5">
                                <a class="btn btn-warning" href="{{ url_for('pers_avoir_mail_update', id_mail=row.id_mail) }}" role="button">Modifyé</a>
                            </td>
                        </tr>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Okũ mo.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('graphie_ajouter') }}" role="button">Ajöté</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

