{% extends "base.html" %}
{% block title %} Édité un grafi {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Édité un grafi
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.graphie.label }}<br>
						{{ form.graphie(size=32) }}<br>
						{% for error in form.graphie.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						{{ form.phonetique.label }}<br>
						{{ form.phonetique(size=32) }}<br>
						{% for error in form.phonetique.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-secondary" href="{{ url_for('graphie_afficher') }}">Anulé</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}
